/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-itmar-draggable-box {
	border: 1px dotted #f00;

	.draggablebox {
		padding: 3px;

		&:hover {
			cursor: move;
		}
	}

}

.components-panel__row {
	&.distance_row {
		align-items: baseline;
		column-gap: 10px;

		.components-base-control {
			margin-bottom: 0;
		}
	}

	&.reset_row {
		justify-content: end;
	}
}