/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-itmar-design-title {
	border: 1px dotted #f00;

	[data-rich-text-placeholder] {
		opacity: 0.5;
	}
}

.title_design_ctrl {
	.sizing_row {
		align-items: baseline;
		column-gap: 10px;

		.components-base-control {
			margin-bottom: 0;
		}
	}
}

.border_design_ctrl {
	.components-panel__body-title {
		margin-bottom: 20px !important;

	}
}

.components-base-control__label {
	font-size: 11px;
	padding-bottom: 10px;
}