/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-itmar-design-title {
	box-sizing: border-box;
	width: fit-content;
	border: 1px solid transparent;

	>div {
		width: fit-content;
	}

	.submenu-block {
		position: absolute;
		width: fit-content;
		height: auto;
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		z-index: 20;

		&.bottom_right {
			transform: scale(1, 0);
			top: 100%;
			right: 0;
			transform-origin: left top;
		}

		&.bottom_center {
			top: 100%;
			left: 50%;
			transform: scale(1, 0) translateX(-50%);
			transform-origin: center top;
		}

		&.bottom_left {
			transform: scale(1, 0);
			top: 100%;
			left: 0;
			transform-origin: left top;
		}

		&.center_right {
			transform: scale(0, 1);
			top: 0;
			left: 100%;
			transform-origin: left top;
		}

		&.center_left {
			transform: scale(0, 1);
			top: 0;
			right: 100%;
			transform-origin: right top;
		}
	}

	&:hover .submenu-block,
	.submenu-block:hover,
	.submenu-block.visible {
		transform: scale(1, 1);
		opacity: 1;
		visibility: visible;

		&.bottom_right {
			transform: scale(1, 1);
		}

		&.bottom_center {
			transform: scale(1, 1) translateX(-50%);
		}

		&.bottom_left {
			transform: scale(1, 1);
		}
	}
}