/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


.itmar_notice_select_panel {
	.components-notice {
		&.is-dismissible {
			padding-right: 0;

		}

		.components-notice__content {
			margin: 0;
			background-color: #dbf5f1;

			span {
				cursor: pointer;
			}
		}
	}
}



.wp-block-itmar-design-select {
	border: 1px dotted #f00;

}